<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860453029261-63e63f81jl2jforq37b5n8fmrumr0gi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860453029261-63e63f81jl2jforq37b5n8fmrumr0gi7</string>
	<key>API_KEY</key>
	<string>AIzaSyD6MCjbs78PfStNQ8jpnKLMyD_Gjb1IuSI</string>
	<key>GCM_SENDER_ID</key>
	<string>860453029261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTT.GreenHouse-Assistant</string>
	<key>PROJECT_ID</key>
	<string>greenhouse-assistant-38199</string>
	<key>STORAGE_BUCKET</key>
	<string>greenhouse-assistant-38199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860453029261:ios:4d951c3e585f89e41aa9c4</string>
</dict>
</plist>
